.hire-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    left: 0;
  }

  input[type='number'],
  input[type='text'] {
    width: 100%;
    padding: 8px;
    font-size: large;
    border: 2px solid #ccc;
    border-radius: 4px;
  }
  
  input[readonly] {
    background-color: #f2f2f2;
  }

  .hi{
    display: flex;
    
  }
  
  label {
    font-weight: bold;
  }

  .h{
    margin-right: 10%;
  }

  select,
  input[type='text'] {
    width: 150px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type='text']:read-only {
    background-color: #f2f2f2;
  }
  
  @media screen and (max-width: 768px) {
    .hire-container {
      flex-direction: column;
      align-items: flex-start;
    }
  
    select,
    input[type='text'] {
      width: 100%;
    }
  }

  .per_day_container,
.flat_container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.per_day_container input,
.flat_container input {
  width: 100px;
  padding: 8px;
  height: fit-content;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#hireOption{
  list-style: none;
  line-height: 2vh;
}
  
.button{
  background-color: #ffffff;
  margin-top: 3vh;
  color: rgb(14, 14, 14);
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;

}