   .big {
    margin-top: 5%;    
    align-items: center;
  }

  .colored-dot {
    color: #D7E401; /* Your desired color code */
    margin-right: 8px; /* Adjust as needed */
    font-size: 20px;
  }

  .light-font {
    font-weight: 300; 
    /* font-size: large; */
  }
  
 
  .top , .middle{
    margin-top: 2%;
    margin-left: 10%;
  }

  .a{
    margin-top: 4%;
  }

  .c{
    margin-top: 4%;
  }
  
  .e {  
    margin-top: 4%;
  }

  .t{
    margin-right: 15%;
    font-weight: 300;
  }
  .b{
    margin-left: 22%;
    margin-top: 2%;
  }
  
  .top p{
    font-size: large;
  }
  .logo_container{
    margin-left: 9%;
    display: flex;
  }

  .solid-line {
    border-top: 1px solid black; /* Adjust the color and thickness as needed */
    margin: 20px 0; /* Adjust the margin as needed */
  }

  .LogC{
    margin-left: 450px;
  }

  .logoA img,
.logoC img{
  max-width: 150px; 
  max-height: 150px; 
}
  
.A{
  margin-top: 5%;
  page-break-before: always;

}

.foot {
  display: flex;
  margin-top: 40%; 
  position: fixed;
}
.pg{
  margin-top: 1%;
  margin-left: 3%;
  background-color: #D7E401;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 1%;
  padding-right: 2%;
}

.B{
  page-break-before: always;
}
  
.l{
  margin-top: 2%;
  margin-left: 22%;
  
}