.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  background-image: url('../assets/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.logoB{
  position:absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left:-18rem;
 
 
}
.logoB img{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 17%;
  height: 10%;
}




.login-form {
  background-color: rgba(255, 255, 255, 0.322);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%; 
  max-width: 400px; 
  z-index: 50;
  margin-right: 30vh;
}

.login-form-title {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-primary {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3;
}
