.postproduction-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.heading {
  font-weight: bold;
  font-size: larger;
}

.postproduction-options {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.postproduction-option {
  display: flex;
  align-items: center;
  flex-basis: 50%;
}

label {
  margin-left: 5px;
}

/* Add new styles for the "Other" option when checked */
.postproduction-option input[type='checkbox'][name='Other']:checked + label {
  color: blue;
  font-weight: bold;
}

.other-option {
  display: flex;
  align-items: center;
  flex-basis: 100%;
  margin-top: 10px;
}

.other-option-input {
  width: 40px; 
}

input[type='text'] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex: 1;
}

.plus-button {
  margin-left: 10px;
  padding: 8px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.plus-button:hover {
  background-color: #0056b3;
}

.toggle-container {
  display: flex;
  flex-direction: column;
}

.switch {
  margin-left: 10px;
}

.s{
  display: flex;
}

.equipment-rent {
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
  margin-top: 10px; 
}

.equipment-input {
  display: flex;
  align-items: center;
}

.map{
  line-height: 2vh;
  margin-top: 20px;
}